tdumt-app_2.0/TDUMT_2_Main/Conf/Xsd/BrowseHandlers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="browseHandlers">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="defaultBrowseHandler">
          <xs:complexType>
            <xs:attribute name="class" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="browseHandler">
          <xs:complexType>
            <xs:attribute name="entryRegex" type="xs:string" use="required" />
            <xs:attribute name="class" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>